.notes {
    background-color: whitesmoke;
    height: max-content;
}

.delete{
    margin-right: 100px;
    background-color: black;
}

.edit {
  margin-left: 45px;
}

.button-start{
    display: flex;
    justify-content: flex-start;
}



